/* Avatar backgrounds */
.bg-live {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBDTi-eWx7WEv8y7BuLVGBE1XCZqD_ZgVh6hMrLJE_IgnBtDiaXNsUTLfLl2mf3KL9fBG2ABtNFjJfseqWTMY1-pdhzqkcmhhDlnix3GwGMhDYdyWU1e1oMXLmfDoiEwaRCMz7QomXSqvyacEaDSQcPTndg_YAtJzwSBsAhRMPLTqniy71anvLtE5aw1Qrfqa_srKEp2qQdDbat7Pzy7OkBypHvszlzAWg5guvh9r1xsk-PAInMNL1FLwFkyfJh8TlEYlKxC8873fc");
}
.bg-track {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCJ2IRBp-MfzLdt4llDfikU2suHFGsvDc-9MkJ-69Ov0t7JG_DF6zn9CerNZCBW51N0zm8YZq_WZKLcZk9v46vQBF190bGkAn36koVOlBkiEftnDPYF3OSyYY3a0AZ1wLsvkCpSpojjChIvpLUags1OiB3oFgABYXlz9c9AF5ugWUVrEQRkx97sD0PWyBKwS55CShzJafqphzEQ7_zqeojXntTGJLoJ_Mfv8nJT-2O_38Of6aWqvIM_2f1FH_bJ9nqCCWDKeFQ1C5E");
}
.bg-ballgames {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAsnFG5FGGcx2CH-FwIcYunRSKTQmFTl4_F0MR5qyknVDRX54eVrDi4tkcJPk9Wi2UClwhNDM--1FjfUOrN4rlqyLOACoM1VYo6Cadx3hqiWbpl1NX5cdckGK8486wve1DARmZEvwTJsF190hj0YEshHP1Mh2IZA-GnlyVJgHVflADgnfmaetFCuuz85Y17dozR8Ndv8ZvMKlHbY3sNhbpqNzw95TvaDESmSGUXyKSE_JOCxJCyu3DuLbDykUfwdLkf3hJlQrBlg7E");
}
.bg-aquatics {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDbu7ohtRcxBdRO2tVUYU28cNe7_PBoY8cTfmY209OD_5CvXL_f7WmzwCapn_ZrcZ-qRRM6So3gkcGNh5wJyTvBYTJAKkaeqsNwPCPLf4y64xjc82hivzSf3Jq3lk-wKs9HNoQXRfdzM3OqZBmy8ujQIOkq4OqVIcViU1IFuBJgQcCECdkmMw4rs6lRrGRt42SDp8-L_jGF3dzBh3sb-SKAcgIBvb37ycQSIGRx0swMHPM_Hi7yBIpPZlgrWr37S44q4CHTkmQQqwc");
}
.bg-combative {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuA-2wXzCaPttd3CGvbS1QaLWUY915Vc9ZFjmcmr4gfeh34F50H5a9jfnYPD6idOgjB-jW_ijY4Jwe2XqvPlPiHK_R5WANnBJqGS5a939sVF9N0pm4CJ6uVSrHB_oz6AG3xGgw8ZwYkyC1f3iRyKcL8qaSAOGsu862Nb9dqtRlu1VUUqs4jIc2Z4Ny4ionq9itdumlnCtBMqWTC1e5SjWkK5xcM9Ql8C7wOP92a-jecq1oy81xKk_O2I38IfXlNUoe3yeShBqCNclSo");
}
/* Highlights backgrounds */
.bg-highlight1 {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCDgkutok5iaHwK9bn4uy19KIlvoQsa8pC9fyQuj8qsWP7KTOmYfNLqVN53sHwXLxXMox7oCYzQ4UpB_ff_tgWA6fnXPUzQAyUq0gqlra9nNVcQLmoINExjGetOqLJl8vc1BBjdKYfud053aC4W3t-jVtoUG5q0GfEaBAtSEvYaTobCE-d_TeQpswQp4dtcWS80Ni2PcTCm40kO9HLcL8EdBtg4qgBuzjox3EfBKv_vBvN75KPc_QpLRd3Me4pXC5Ehk1qWHbTX72o");
}
.bg-highlight2 {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCMRocqMarYKuNzvpk1PVVFMgj_xImt9iTqpHkIibKN_Hyud0_X9YWPBxFj_Od8UMmoWyj9vJEr3x7szkNHK0VmhihQOI52UvRVJazxKFdsnI4yRRQeGauqcvayd8KFrYVGxrBuGSrbj0agS1RCNqsoOwNW4y7GrqR03jyfJjv6_rGIb4X2SQCMaAzixqZwEWqPHpdHORB1a3BvsWNSZuN90zxMMpR8KZMu0U97NJOcVbnubkbt1U8arhf5-7g7JSfK9xPYfbWfimQ");
}
.bg-highlight3 {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBa6DAho4TI5MT_M35QayPmXn9X31UF7vgQYT24f5xWm4lF-XyrAkN3Ev8m2BAcjKtOqfOjPiNPI4Rq32LT6Q46Wdlj541aMkklb12yVbgO5oR1myYhvMHD-zlT_h4derLrKZUGp6DCnS7wZcXq1rVpe1s8HyRTUjP0bxEHqVTFt7fzSUU0AV10e5qtBet2VYBJeehMSefjIVQridVLagxqsn5v2HxPTZ6iLOa9pDibEXxr-w8ooZETEZjJHnzGDN-RWeqP_oZfj5E");
}


.carousel-container {
  width: 100%;
  overflow: hidden;
  background-color: rgb(255,205,255);
  padding: 20px;
  margin-top: 20px;
}

.card{
  flex: 0 0 auto;
  width: 300px;
  height: 300px;
  background-color: rgb(60,1,60);
  display: flex;
  align-items: end;
  justify-content: center;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  margin-right: 50px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
  padding-bottom: 10px;

}

.img-container {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  background-color: rgb(255,205,255);
}

.carousel-track {
  display: flex;
  width: max-content;
  animation: scroll 15s linear infinite;
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.carousel-container:hover .carousel-track {
  animation-play-state: paused;
}